{% extends "admin/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 style="margin: 0; color: #01494b;">{% if form.instance.pk %}Редактировать услугу{% else %}Новая услуга{% endif %}</h3>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3" >
                    <label for="{{ field.id_for_label }}" class="form-label" style="color:#01494b;">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">💾 Сохранить</button>
            <a href="{% url 'admin_service_list' %}" class="btn btn-secondary">↩️ Отмена</a>
        </form>
    </div>
</div>
{% endblock %}
